
.header-container {
    margin: 0 auto;
    position: relative;    
}


.header-nav {
    display: flex;
    align-items: baseline;
    padding: 26px 64.5px;
}

a {
   text-decoration: none;
   color: inherit
}

ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.header-logo {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.26px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0C0C0C;
    margin-right: 203px;
}

.header-nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-nav-item {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #0C0C0C;
    padding-left: 0;
}

.active-page {
    position: relative;
}
.active-page::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350E9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.header-icons-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.header-icon-item {
    padding: 7.2px;
    border: 1px solid #0C0C0C1A;
    border-radius: 10px;
}

.header-icon {
    fill: #0C0C0C;
    opacity: 0.8;
}

.header-link-icon {
    width: 20px;
    height: 20px;
    display: block;
}


.header-menu-btn {
    background-color: transparent;
    border: none;
    display: none;
    margin-left: auto;
}

.menu-open-btn {
    width: 40px;
    height: 40px;
}

.mob-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)), url(./menu-images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    /* visibility: hidden;
    pointer-events: 0; */
    
}

 .menu-close-btn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
     display: flex;
     margin-left: auto;  
 }

 .header-nav-list-mob {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 186px;
    margin-bottom: 0;
    padding: 0;
    color: #FBFBFB;
    
 }

 .header-nav-item-mob {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
 }

 .header-icons-list-mob {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
 }

 .header-icon-item-mob {
     padding: 8px;
     border: 1px solid #FBFBFB1A;
     border-radius: 10px;
 }

 .header-icon-mob {
     fill: #FBFBFB;
 }


 /* .is-open {
    opacity: 1;
    visibility: visible; 
} */

@media screen and (min-width: 320px) and (max-width: 768px) {
   .header-logo {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.41px;
    letter-spacing: -0.02em;
    text-align: left;
   } 

   .header-nav-list,
   .header-icons-list {
    display: none;
   }

   .header-menu-btn {
    display: flex;
   }

   .menu-open-btn {
    width: 34px;
    height: 34px;
   }

   .mob-menu {
    width: 200px;
    height: 812px;   

   }

   .menu-close-btn {
       margin-top: 20px;
       margin-right: 20px;
   }

   .header-icons-list-mob {
    margin-bottom: 40px;
    margin-top: 260px;
   }
        
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header-nav-list,
    .header-icons-list {
        display: none;
    }

    .header-menu-btn {
        display: flex;
    }

    .menu-open-btn {
        width: 40px;
        height: 40px;
    }

    .mob-menu {
        width: 330px;
        height: 1024px;
                
    }
    
    .menu-close-btn {
        margin-top: 26px;
        margin-right: 32px;
    }

    .header-icons-list-mob {
        margin-bottom: 50px;
        margin-top: 350px;
    }
}