.header-container {
    margin: 0 auto;
    position: relative;    
}

.header-elements {
    display: flex;
    padding: 26px 64.5px;
    position: relative;
}


.header-nav {
    display: flex;
    align-items: baseline;
}

a {
   text-decoration: none;
   color: inherit
}

.header-logo {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.26px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0C0C0C;
    margin-right: auto;
}

.header-nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-nav-item {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #0C0C0C;
}

.header-icons-list {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.header-icon-item {
    padding: 8px;
    border: 1px solid #0C0C0C1A;
    border-radius: 10px;
}

.header-icon {
    fill: #0C0C0C;
}


.header-menu-btn {
    background-color: transparent;
    border: none;
    display: none;
    margin-left: auto;
}

.menu-open-btn {
    width: 40px;
    height: 40px;
}

.mob-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)), url(./menu-images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 .menu-close-btn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
     display: flex;
     margin-left: auto;  
 }

 .header-nav-list-mob {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 186px;
    padding: 0;
    color: #FBFBFB;
    
 }

 .header-nav-item-mob {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
 }

 .header-icons-list-mob {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

 }

 .header-icon-item-mob {
     padding: 8px;
     border: 1px solid #FBFBFB1A;
     border-radius: 10px;
 }

 .header-icon-mob {
     fill: #FBFBFB;
 }

@media screen and (min-width: 320px) and (max-width: 768px) {
   .header-logo {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.41px;
    letter-spacing: -0.02em;
    text-align: left;
   } 

   .header-nav-list,
   .header-icons-list {
    display: none;
   }

   .header-menu-btn {
    display: flex;
   }

   .menu-open-btn {
    width: 34px;
    height: 34px;
   }

   .mob-menu {
    width: 200px;
    height: 812px;   

   }

   .menu-close-btn {
       margin-top: 20px;
       margin-right: 20px;
   }

   .header-icons-list-mob {
    margin-bottom: 40px;
    margin-top: auto;
   }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header-nav-list,
    .header-icons-list {
        display: none;
    }

    .header-menu-btn {
        display: flex;
    }

    .menu-open-btn {
        width: 40px;
        height: 40px;
    }

    .mob-menu {
        width: 330px;
        height: 1024px;
                
    }
    
    .menu-close-btn {
        margin-top: 26px;
        margin-right: 32px;
    }
}